$blue:  rgb(10, 100, 164);
$yellow: rgb(255, 217, 0);
$purple: rgb(64, 19, 175);
$green: rgb(88, 224, 0);
$red: rgb(64, 19, 175);

.announcement {
  color: red;
  padding: 3em;
  border: 2px red solid;
}

